@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;

}

.btn-container{
    text-align: center;
}
.btn{
    padding: 14px 18px;
    border-radius: 0.5rem;
    border: none;
    background: #52C303;
    color: #FFF;
    font-family: "Work Sans";
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0%;
    text-align: center;
}

.btn-watch{
    color: #101010;
    background: rgba(82, 195, 3, 0.15);


}

#hero{
    height: 615px;
    background-image: linear-gradient(180deg, #101010 -19.5%, rgba(16, 16, 16, 0.00) 100%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content{
    width: 685px;
}
#hero .hero-content .subtitle{
    color: #FFF;

text-align: center;
font-family: "Work Sans";
font-size: 20px;

font-style: normal;
font-weight: 600;
line-height: 38px;
opacity: 0.8;
margin-bottom: 10px;

}

#hero .hero-content .title {
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 36px;
    font-style: 700;
    font-weight: 700;
    line-height: 50px; /* 125% */
    margin-bottom: 14px;
}

#hero .hero-content .description{
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 10px; 
    font-weight: 500;
    line-height: 16px; /* 155.556% */
    opacity: 0.7;
    margin-bottom: 32px;

}

#card-box{
    width: 884px;
    margin: 100px auto;
    
   
    
   
}

#card-box .info{

}
#card-box .title{
    color: #101010;
    text-align: center;
    font-family: "Work Sans";
    font-size: 28px;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: 0%;
    
}

#card-box .subtitle{
    opacity: 0.6;
    color: #101010;
    text-align: center;
    font-family: "Work Sans";
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0%;
}

.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: "Work Sans" ;
}
.card {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.card .image-box{
    width: 250px;

}
.card .image-box img{
    width: 100%;
}

.card .shop {
    background-color: aqua;
    padding: 10px 18px;
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
}

.btn-sell{
    margin-top: 60px;
}